
<div class="contenue col-sm-12">

    <div class="col-sm-10">

        <div class="addPost">
            <a href="#" onclick='addPost(ViewBag.Group.Id)' class="glyphicon glyphicon-plus addBtn"> Ajouter un poste  </a>
        </div>
        @foreach (var item in ViewBag.Group.posts)
        {

            <div class="thumbnail col-sm-10">
                <div class="col-sm-3">
                    <img class="itemLogo" src="/Content/images/@item.Picture" />
                </div>

                <div class="col-sm-9">
                    <div class="col-sm-10">
                        @item.Title
                    </div>
                    <div class="col-sm-2">
                        @item.CreationDate
                    </div>
                    <div class="col-sm-12">
                        @item.Resume
                    </div>
                    <div class="col-sm-12">
                        <a class="glyphicon glyphicon-eye-open" href="#" onclick='postView("@item.Title,@item.Picture,@item.Content")'></a>
                    </div>

                </div>

            </div>
        }
    </div>
    <div>
        <p>Utilisateurs</p>
        @foreach (var item in ViewBag.Group.users)
        {
        <div class="user">

            <a class="glyphicon glyphicon-trash" href="@Url.Action("Delete", "User", new { userId = item.Id , GroupId = ViewBag.Group.Id })"></a>@item.Name
        </div>
        }
        <a href="#" onclick='addUserToGroup(ViewBag.Group.Id)' class="glyphicon glyphicon-plus addBtn"> Ajouter un utilisateur </a>

    </div>

</div>