@{
    ViewBag.Title = "Home Page";
}




<div class="contenue col-sm-12">
    <div class="col-sm-2">
        <p>Mes groupes :</p>
        @foreach (var item in ViewBag.Groups)
        {
            <a href="/Group/Show?idGroup=@item.Id">@item.Name</a>
            
            if (item.OwnerId == ViewBag.UserId)
            {
                <a class="glyphicon glyphicon-trash" href="@Url.Action("Delete", "Group", new { groupId = item.Id })"></a>
            }
            <a href="#" onclick='addGroup()' class="glyphicon glyphicon-plus addBtn"> Créer un groupe </a>
        }
    </div>
    <div class="col-sm-10">


        @foreach (var item in ViewBag.Posts)
        {

            <div class="thumbnail col-sm-10">
                <div class="col-sm-3">
                    <img class="itemLogo" src="/Content/images/@item.Picture" />
                </div>

                <div class="col-sm-9">
                    <div class="col-sm-10">
                        @item.Title
                    </div>
                    <div class="col-sm-2">
                        @item.CreationDate
                    </div>
                    <div class="col-sm-12">
                        @item.Content
                    </div>
                    <div class="col-sm-12">
                        <a class="glyphicon glyphicon-eye-open" href="#" onclick='postView("@item.Title,@item.Picture,@item.Content")'></a>
                    </div>

                </div>

            </div>
        }
    </div>
</div>